<template>
<div>
    <admin
        title="ADMIN"
        :full-width-topbar="true"
        :sidebar-open="true"
        :sidebar-mini="false"
        :footer-fixed="true"
        :quick-edit-open="false"
    >
        <template slot="navigation-content">
            NAV
        </template>
        
        <template slot="quickedit-content">
            QUICKNAV
        </template>
        
        <template slot="footer-content">
            Footer
        </template>
        
        <template slot="content">
            CONTENT
        </template>
    </admin>
</div>
</template>

<script>
export default {

}
</script>